NODE_ENV=development
CART_PORT=3007
CART_CORS_ORIGIN=*

CART_MONGODB_URI=mongodb+srv://<user>:<pass>@<cluster>/petfood_cart?retryWrites=true&w=majority

PRODUCT_SERVICE_URL=http://localhost:3003
JWT_SECRET=petfood_secret_key
CART_INTERNAL_KEY=change_this_cart_internal_key

CART_PRODUCT_TIMEOUT_MS=5000


