NODE_ENV=development
ORDER_PORT=3004
ORDER_CORS_ORIGIN=*
ORDER_MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.hfu5w0r.mongodb.net/petfood_order?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=change_me
ORDER_INTERNAL_KEY=change_this_order_internal_key
USER_SERVICE_URL=http://localhost:3002
USER_INTERNAL_KEY=change_this_user_internal_key
ORDER_USER_SERVICE_TIMEOUT_MS=5000
