NODE_ENV=development
ORDER_PORT=3004
ORDER_CORS_ORIGIN=*
ORDER_MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.hfu5w0r.mongodb.net/petfood_order?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=change_me
ORDER_INTERNAL_KEY=change_this_order_internal_key
USER_SERVICE_URL=http://localhost:3002
USER_INTERNAL_KEY=change_this_user_internal_key
ORDER_USER_SERVICE_TIMEOUT_MS=5000
PAYMENT_SERVICE_URL=http://localhost:3009
PAYMENT_INTERNAL_KEY=change_this_payment_internal_key
ORDER_PAYMENT_SERVICE_TIMEOUT_MS=5000
CART_SERVICE_URL=http://localhost:3007
CART_INTERNAL_KEY=change_this_cart_internal_key
ORDER_CART_SERVICE_TIMEOUT_MS=5000
COUPON_SERVICE_URL=http://localhost:3008
COUPON_INTERNAL_KEY=change_this_coupon_internal_key
ORDER_COUPON_SERVICE_TIMEOUT_MS=5000
