AUTH_PORT=3001
AUTH_MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.hfu5w0r.mongodb.net/petfood_auth?retryWrites=true&w=majority&appName=Cluster0
AUTH_CORS_ORIGIN=*

JWT_SECRET=change_me
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_me_refresh
JWT_REFRESH_EXPIRES_IN=7d

USER_SERVICE_URL=http://localhost:3002
AUTH_USER_SERVICE_TIMEOUT_MS=5000

NOTIFICATION_SERVICE_URL=http://localhost:3010
AUTH_NOTIFICATION_SERVICE_TIMEOUT_MS=5000
