NODE_ENV=development
REWARD_PORT=3014
REWARD_MONGODB_URI=mongodb://localhost:27017/petfood_reward
REWARD_CORS_ORIGIN=*
JWT_SECRET=petfood_secret_key
REWARD_INTERNAL_KEY=petfood_reward_internal_key
COUPON_SERVICE_URL=http://localhost:3008
COUPON_INTERNAL_KEY=petfood_coupon_internal_key
REWARD_SERVICE_TIMEOUT_MS=5000
