NODE_ENV=development
APPOINTMENT_PORT=3013
APPOINTMENT_CORS_ORIGIN=*
APPOINTMENT_MONGODB_URI=mongodb+srv://<user>:<pass>@<cluster>/petfood_appointment?retryWrites=true&w=majority
JWT_SECRET=petfood_secret_key
