NODE_ENV=development
APPOINTMENT_PORT=3015
APPOINTMENT_CORS_ORIGIN=*
APPOINTMENT_MONGODB_URI=mongodb+srv://<user>:<pass>@<cluster>/petfood_appointment?retryWrites=true&w=majority
JWT_SECRET=change_me
