NODE_ENV=development
APPOINTMENT_PORT=3015
APPOINTMENT_CORS_ORIGIN=*
APPOINTMENT_MONGODB_URI=mongodb+srv://<user>:<pass>@<cluster>/petfood_appointment?retryWrites=true&w=majority
JWT_SECRET=change_me

KAFKA_ENABLED=true
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=petfood-appointment-service
KAFKA_DEBUG_LOG=false


KAFKA_CONSUMER_RETRY_DELAY_MS=5000