NODE_ENV=development
UPLOAD_PORT=3006
UPLOAD_CORS_ORIGIN=*
UPLOAD_MAX_FILE_SIZE_MB=5
UPLOAD_ALLOWED_MIME_TYPES=image/jpeg,image/png,image/webp
UPLOAD_PRESIGNED_EXPIRES_IN_SEC=600

AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_S3_BUCKET=your_bucket
AWS_S3_PUBLIC_BASE_URL=

CLOUDINARY_CLOUD_NAME=<cloudinary_cloud_name>
CLOUDINARY_API_KEY=<cloudinary_api_key>
CLOUDINARY_API_SECRET=<cloudinary_api_secret>


