COUPON_PORT=3008
COUPON_MONGODB_URI=mongodb+srv://<user>:<pass>@<cluster>/petfood_coupon?retryWrites=true&w=majority
JWT_SECRET=petfood_secret_key
USER_SERVICE_URL=http://localhost:3002
NOTIFICATION_SERVICE_URL=http://localhost:3010
COUPON_NOTIFICATION_SERVICE_TIMEOUT_MS=5000
