COUPON_PORT=3008
COUPON_MONGODB_URI=mongodb+srv://<user>:<pass>@<cluster>/petfood_coupon?retryWrites=true&w=majority
JWT_SECRET=change_this_jwt_secret_key
COUPON_INTERNAL_KEY=change_this_coupon_internal_key
USER_SERVICE_URL=http://localhost:3002
NOTIFICATION_SERVICE_URL=http://localhost:3010
COUPON_NOTIFICATION_SERVICE_TIMEOUT_MS=5000

REDIS_URL=redis://localhost:6379
REDIS_ENABLED=true

KAFKA_ENABLED=true
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=petfood-coupon-service
KAFKA_DEBUG_LOG=false


KAFKA_CONSUMER_RETRY_DELAY_MS=5000