NODE_ENV=development
PAYMENT_PORT=3009
PAYMENT_CORS_ORIGIN=*
PAYMENT_MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.hfu5w0r.mongodb.net/petfood_payment?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=change_me
ORDER_SERVICE_URL=http://localhost:3004
UPLOAD_SERVICE_URL=http://localhost:3006
ORDER_INTERNAL_KEY=change_this_internal_key
PAYMENT_INTERNAL_KEY=change_this_payment_internal_key
PAYMENT_ORDER_SERVICE_TIMEOUT_MS=5000
PAYMENT_UPLOAD_SERVICE_TIMEOUT_MS=10000

KAFKA_ENABLED=true
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=petfood-payment-service
KAFKA_DEBUG_LOG=false



# VNPay
VNPAY_TMN_CODE=enter_your_vnpay_tmn_code_here
VNPAY_HASH_SECRET=enter_your_vnpay_hash_secret_here
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:5173/payment/vnpay-return


KAFKA_CONSUMER_RETRY_DELAY_MS=5000